/* RecipePage.css */
.recipe-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('bg.jpeg');
}

.recipe-container {
  text-align: center;
}

.recipe-card {
  margin-bottom: 20px;
}

.tab-card {
  margin-bottom: 20px;
}
